.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius:12px;
    width:100%;
    background-color:white;
    padding:20px;
}
