@inherits LayoutComponentBase
<div style="background-color:azure; height:100vh; padding:20px; display:flex; flex-direction:column; row-gap:20px;" class="scrollable">
    <_TopNavBar Title="Salom" Style="font-size:20px; font-weight:600"/>
    @Body
</div>
