.notes-body {
    flex: 1;
    display: grid;
    background-color: white;
    border-radius: 12px;
    width: 100%;
    padding: 20px;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    gap: 14px;
    align-content: space-evenly;
}



@media(max-width:1400px) {
    .notes-body {
        grid-template-columns:auto auto auto auto;
    }
}
@media(max-width:1100px) {
    .notes-body {
        grid-template-columns:auto auto auto;
    }
}
@media(max-width:840px) {
    .notes-body {
        grid-template-columns:auto auto ;
    }
}
@media(max-width:580px) {
    .notes-body {
        grid-template-columns:auto;
    }
}