@page "/"
@page "/note"

@layout CostumLayout

<div class="notes-body scrollable shadow">
    @for (int i = 0; i < 10; i++)
    {
        <_Note Notes="notes" />
        
    }

</div>





@code {
    public GetNotesModel notes { get; set; } = new();

    protected override Task OnInitializedAsync()
    {

        notes = new()
            {
                Id = 1,
                Conent = "dlsansanflsdndsnfldsnf",
                CreateTime = DateTime.Now,
                Title = "Salom",
                ModifiedTime = null,
            };
        return base.OnInitializedAsync();
    }

}
